body {font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
#name {font-size:250%;
font-style:italic;
margin-top:50px;
margin-bottom:50px}
body {border-style:dashed;
border-color: brown;
margin-right:300px;
margin-left:300px}
#date {font-size:200%;
font-style:italic}
#location {margin-bottom:30px}
#photo {border-style:solid;
border-color:brown}
.title {background-color:rgb(234, 153, 124) ;
margin-right:50px;
margin-left: 50px}
.burger1 {z-index:1;}
.burger2 {z-index:2;}
.burger3 {z-index:3;
margin-top:-100px}